<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
 		http://www.springframework.org/schema/beans
 		http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

	<bean id="client" class="com.yet.spring.core.bean.Client">
		<constructor-arg value="1"/>
		<constructor-arg value="Illidan Stormrage"/>
	</bean>

	<bean id="eventLogger" class="com.yet.spring.core.log.ConsoleEventLogger" />
	
	<bean id="fileEventLogget" class="com.yet.spring.core.log.FileEventLogger" init-method="init">
		<constructor-arg value="app_log.log"/>
	</bean>

	<bean id="app" class="com.yet.spring.core.App">
		<constructor-arg ref="client" />
		<constructor-arg ref="fileEventLogget" />
	</bean>
	
	<bean id="event" class="com.yet.spring.core.log.Event" scope="prototype">
		<constructor-arg>
			<bean class="java.util.Date" />
		</constructor-arg>
		<constructor-arg>
			<bean class="java.text.DateFormat" factory-method="getDateTimeInstance" />
		</constructor-arg>
	</bean>

</beans>